@page "/cake";
@layout MainLayout

<body class="cake-container">
    <div class="cake-page">
        <article class="cake-title">
            <img class="cake-icon" src="../images/2138192_baker_bakery_birthday_cake_dessert_icon.png" alt="cake icon" />
            <h1>Cake</h1>
        </article>
        <div class="nav-menu">
            <a href="#">Bread</a>
            <a href="#">Pastry</a>
            <a href="/">Home</a>
        </div>
        <br />
        <hr />
        <div class="cake-content">
            <article class="cake-item">
                <img class="cake-item-img" src="../images/stephen-wheeler-lriquzyxkrm-unsplash.jpg" alt="chocolate cake" />
                <p class="cake-item-name">Chocolate Cake</p>
                <p class="cake-item-price">$<span class="value">22.00</span></p>
            </article>
            <article class="cake-item">
                <img class="cake-item-img" src="../images/anirban-sengupta-gqvnc4bdryw-unsplash.jpg" alt="rainbow cake" />
                <p class="cake-item-name">Rainbow Cake</p>
                <p class="cake-item-price">$<span class="value">26.00</span></p>
            </article>
            <article class="cake-item">
                <img class="cake-item-img" src="../images/toa-heftiba-6fejpdvtghm-unsplash.jpg" alt="unicorn cake" />
                <p class="cake-item-name">Unicorn Cake</p>
                <p class="cake-item-price">$<span class="value">28.00</span></p>
            </article>
            <article class="cake-item">
                <img class="cake-item-img" src="../images/redvelvetcake.jpg" alt="redvelvet cake" />
                <p class="cake-item-name">Red Velvet Cake</p>
                <p class="cake-item-price">$<span class="value">22.00</span></p>
            </article>
            <article class="cake-item">
                <img class="cake-item-img" src="../images/mmcake.jpg" alt="m&m cake" />
                <p class="cake-item-name">M&M Cake</p>
                <p class="cake-item-price">$<span class="value">26.00</span></p>
            </article>
            <article class="cake-item">
                <img class="cake-item-img" src="../images/flowercake.jpg" alt="flower cake" />
                <p class="cake-item-name">Flower Cake</p>
                <p class="cake-item-price">$<span class="value">28.00</span></p>
            </article>
        </div>
    </div>
</body>


@code {

}
