@page "/new"
@layout MainLayout

<div class="login-section">
    <div class="form-section">
        <h1>Login</h1>
        <form>
            <div class="txt-field">
                <input type="text" required //>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt-field">
                <input type="password" required />
                <span></span>
                <label>Password</label>
            </div>
            <a href="/cake"><input type="submit" value="Login" /></a>
            <a href="/"><input type="button" value="Cancel" /></a>
        </form>
    </div>
    <div class="footer"><p>Created by Xiaoya Zou 🧁 </p></div>
</div>

@code {

}

