@inherits LayoutComponentBase

<PageTitle>My Bakery</PageTitle>

<div class="main-page">
    <!-- Menu Section -->
    <div id="mySidenav" class="sidenav">
        <a href="/userlogin">Login</a>
        <a href="/cake">Cake</a>
        <a href="#">Bread</a>
        <a href="#">Pastry</a>
    </div>
</div>

@code {

}
