@inherits LayoutComponentBase

<PageTitle>My Bakery</PageTitle>

<div>
    <!-- Menu Section -->
    <div class="menu">
        <ul class="menuList">
            <li class="list-item">Login</li>
            <li class="list-item">Cake</li>
            <li class="list-item">Bread</li>
            <li class="list-item">Pastry</li>
        </ul>
    </div>

    <!-- Hero section -->
    <div class="main-page">

    </div>
</div>

@code {

}
