@inherits LayoutComponentBase

<PageTitle>My Bakery</PageTitle>

<div class="main-page">
    <div class="my-text">
        <h1>My Bakery</h1>
    </div>
    <!-- Menu Section -->
    <div id="mySidenav" class="sidenav">
        <a href="/new">😃 Login</a>
        <a href="/cake">🎂 Cake</a>
        <a href="#">🍞 Bread</a>
        <a href="#">🥨 Pastry</a>
    </div>
</div>

@code {

}
